package ${package}.controller;



import ${package}.dto.${className}DTO;
import ${package}.entity.${className}Entity;
import ${package}.service.${className}Service;
import ${package}.req.PageReq;
import ${package}.req.${className}Req;
import ${package}.vo.PageVo;
import ${package}.vo.RespVo;
import ${package}.controller.BaseController;
#if ($swaggerStatus==1)
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiImplicitParams;
import io.swagger.annotations.ApiOperation;
import com.github.xiaoymin.knife4j.annotations.ApiSort;
import springfox.documentation.annotations.ApiIgnore;
#end
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import org.springframework.stereotype.Controller;
import javax.servlet.http.HttpServletResponse;
import java.util.List;
import java.util.Map;
import java.util.Arrays;
import java.util.Collection;


/**
 * ${commentsEntity}
 *
 * @author ${author}
 * @email ${email}
 * @date ${date}
 */

@Controller
@RequestMapping("${pathName}")
#if ($swaggerStatus==1)
@Api(tags="${commentsApi}")
@ApiSort(${apiSort})
#end
public class ${className}Controller extends BaseController<${className}Service,${className}Entity,${className}Req>  {

    @Autowired
    private ${className}Service ${variableClassName}Service;



}