package ${package}.dao;

import ${main}.commons.mybatis.dao.BaseDao;
import ${package}.entity.${className}Entity;
import ${package}.dto.${className}DTO;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

import java.util.List;
import java.util.Map;


/**
 * ${commentsDao}
 *
 * @author ${author}
 * @email ${email}
 * @date ${date}
 */
@Mapper
public interface ${className}Dao extends BaseDao<${className}Entity> {
    /**
     * 查询数据列表
     * @param params 查询条件
     * @return List<${className}DTO>
     */
    List<${className}DTO> ${variableClassName}List(@Param("params") Map<String, Object> params);

    /**
     * 查询数据列表--分页
     * @param params 查询参数
     * @return IPage<${className}DTO>
     */
    IPage<${className}DTO> ${variableClassName}List(Page page, @Param("params") Map<String, Object> params);

}