package ${package}.dao;


import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.entity.${className}Entity;



/**
 * ${commentsDao}
 *
 * @author ${author}
 * @email ${email}
 * @date ${date}
 */

public interface ${className}Dao extends IService<${className}Entity> {



}