package ${package}.entity;

import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.FieldFill;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableName;

import ${package}.entity.BaseEntity;
import lombok.Data;
import lombok.EqualsAndHashCode;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.util.Date;

/**
 * ${commentsEntity}
 *
 * @author ${author}
 * @email ${email}
 * @date ${date}
 */
@Data
@EqualsAndHashCode(callSuper=false)
@TableName("${oldTableName}")
public class ${className}Entity extends BaseEntity {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if($column.columnName != 'ID' && $column.columnName != 'id'
	&& $column.columnName != 'DEL_FLAG' &&  $column.columnName != 'del_flag'
	&& $column.columnName != 'CREATE_ID'  && $column.columnName != 'create_id'
	&& $column.columnName != 'CREATE_DATE'&& $column.columnName != 'create_date'
	&& $column.columnName != 'UPDATE_ID' && $column.columnName != 'update_id'
	&& $column.columnName != 'UPDATE_DATE'&& $column.columnName != 'update_date')
	/**
     * $column.comments
     */
	private $column.attrType $column.variableAttrName;
#end
#end
}