package ${package}.service.impl;

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${package}.mapper.${className}Mapper;
import ${package}.dto.${className}DTO;
import ${package}.entity.${className}Entity;
import ${package}.service.${className}Service;
import ${package}.req.${className}Req;
import ${package}.vo.PageVo;

import com.github.pagehelper.PageHelper;
import org.apache.commons.lang3.StringUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import java.util.List;
import java.util.Map;

/**
 * ${commentsEntity}
 *
 * @author ${author}
 * @email ${email}
 * @date ${date}
 */
@Service
public class ${className}ServiceImpl
        extends BaseServiceImpl<${className}Mapper, ${className}Entity, ${className}DTO>
        implements ${className}Service {


    @Autowired
    private ${className}Mapper mapper;
    /**
     * 查询数据列表
     * @param params 查询条件
     * @return List<${className}DTO>
     */
    public List<${className}DTO> ${variableClassName}List(Map<String, Object> params){
        return mapper.${variableClassName}List(params);
    }

    /**
    * 分页查询
    * @param req
    * @return
    */
    public PageVo pageList(${className}Req req){
        Page<Object> page= PageHelper.startPage((req.getStart() / req.getLength()) + 1, req.getLength());
        List<${className}DTO> list = mapper.${variableClassName}List(null);
        return PageVo.builder()
                .data(list)
                .iTotalDisplayRecords(page.getTotal())
                .build();
    }

}