package ${package}.vo;


import ${package}.consts.GlobalConst;
import ${package}.enums.RespCode;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import java.io.Serializable;

/**
* 统一返回vo 类
*/

public class RespVo<T> implements Serializable{

    private static final long serialVersionUID = 359373498032407677L;

    public static final int SUCCESS = RespCode.SUCCESS.getCode();
    public static final int FAILED = RespCode.FAIL.getCode();

    private int code;
    private String msg;
    private T data;


    public static  RespVo fail(String msg){
        RespVo vo=new RespVo();
        vo.setCode(FAILED);
        vo.setMsg(msg);
        return vo;
    }

    public static  RespVo fail(String msg, int code){
        RespVo vo=new RespVo();
        vo.setCode(code);
        vo.setMsg(msg);
        return vo;
    }

    public static<T> RespVo<T> success(T data){
        RespVo vo=new RespVo();
        vo.setCode(SUCCESS);
        vo.setMsg("成功");
        vo.setData(data);
        return vo;
    }

    public static RespVo success(){
        return GlobalConst.RESP_VO;
    }

    public static RespVo respCode(RespCode respCode){
        RespVo vo=new RespVo();
        vo.setCode(respCode.getCode());
        vo.setMsg(respCode.getMsg());
        return vo;
    }

    public int getCode() {
        return code;
    }

    public void setCode(int code) {
        this.code = code;
    }

    public String getMsg() {
        return msg;
    }

    public void setMsg(String msg) {
        this.msg = msg;
    }

    public T getData() {
        return data;
    }

    public void setData(T data) {
        this.data = data;
    }
}
